In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("/content/online_retail_II.csv")

/tmp/ipython-input-1061022425.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/content/online_retail_II.csv")

In [4]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458882 entries, 0 to 458881
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      458882 non-null  object
 1   StockCode    458882 non-null  object
 2   Description  456127 non-null  object
 3   Quantity     458882 non-null  int64
 4   InvoiceDate  458882 non-null  object
 5   Price        458882 non-null  float64
 6   Customer ID  368365 non-null  float64
 7   Country      458882 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 28.0+ MB

In [8]:
df.tail()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
458877,532826,21877,HOME SWEET HOME MUG,1,2010-11-15 09:32:00,3.36,NaN,United Kingdom
458878,532826,21878,PACK OF 6 SANDCASTLE FLAGS ASSORTED,1,2010-11-15 09:32:00,1.66,NaN,United Kingdom
458879,532826,21889,WOODEN BOX OF DOMINOES,1,2010-11-15 09:32:00,2.51,NaN,United Kingdom
458880,532826,21892,TRADITIONAL WOODEN CATCH CUP GAME,3,2010-11-15 09:32:00,2.51,NaN,United Kingdom
458881,532826,21914,BLUE HARMONICA IN BOX,4,2010-11-15 09:32:00,2.51,NaN,Unit

In [9]:
df.isnull().sum()

Invoice            0
StockCode          0
Description     2755
Quantity           0
InvoiceDate        0
Price              0
Customer ID    90517
Country            0
dtype: int64

In [10]:
df.dropna(subset=['Customer ID'], inplace=True)
df.drop('Description', axis=1, inplace=True)

In [13]:
df.isnull().sum()

Invoice        0
StockCode      0
Quantity       0
InvoiceDate    0
Price          0
Customer ID    0
Country        0
dtype: int64

In [14]:
df = df[(df['Quantity'] >= 0) & (df['Price'] >= 0)]

In [15]:
df.head()

,Invoice,StockCode,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [19]:
unique_customer = df['Customer ID'].nunique()
print(unique_customer)
print(df.shape[0])

4094
359450

In [21]:
df.to_csv("preprocessed_clv_dataset.csv", index = False)